*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

p {
    font-size: 14px;
}
.header-container {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    column-gap: 40px;
    z-index: 1000;
}

.icon-of-codeacademy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

ul.links-for-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 15px;
}

.links-for-navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.links-for-navigation a:hover {
    color: rgba(0, 0, 0, 0.464);
}

.links-for-navigation li {
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: end;
}

.navigation-links li a.button {
    list-style-type: none;
    padding: 10px;
    color: rgb(39, 36, 34);
    font-size: 16px;
    font-weight: bold;
    justify-content: end;
}

.navigation-links li a.button:hover {
    color: #807373;
}

.navigation-links li a.button {
    background-color: blue;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-links li a.button:hover {
    background-color: rgb(72, 72, 204);
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1095px;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
    padding-top: 34px;
    align-items: start;
    justify-content: center; 
}

.main-footer-desineje-puseje {
    padding: 17px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    max-width: 100%;
    width: 100%;
}
.main-footer-desineje-puseje a {
    background-color: white;
    color: rgb(37, 35, 35);
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;

}

.po-footer-aukstesnioji-dalis {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    width: 100%;
}

.po-footer-aukstesnioji-dalis h1 {
    font-size: 72px;
    max-width: 1050px;
    width: 100%;
}

.paveikslelis-su-nuoroda-po-programos-uzraso img {
    max-width: 1095px;
    width: 100%;
}

.kairioji-paieskos-sekcija {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    row-gap: 15px;
    padding: 20px;
    background-color: white;
    width: 300px;
}

.kairioji-paieskos-sekcija h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.mygtukas-isvalyti-pasirinkimus {
    display: flex;
    justify-content: center;
}

.mygtukas-isvalyti-pasirinkimus button {
    color: blue;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 60px;
    width: 100%;
    text-transform: uppercase;
    border-color: blue;
    border-width: 1px;
}

.pasirinkimo-laukas {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    text-transform: uppercase;
    padding: 10px 10px 5px;
    text-decoration: none;
    width: 100%;
}

.laiko-dalis fieldset {
    border: 0;
    margin: 0;
    padding-left: 0;
}

.desinioji-dalis-programu-pasirinkimas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 715px;
    row-gap: 20px;
    box-sizing: border-box;
    width: 100%;
    min-width: 64.5%;
    margin-top: 20px;
    margin-left: 20px;
}
.programa1 {
    display: flex;
    justify-content: end;
    width: 45%;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: white;
    min-width: 48.5%;
}

.programa2 {
    display: flex;
    justify-content: end;
    width: 45%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: white;
    min-width: 48.5%;
}

.programa3 {
    display: flex;
    width: 45%;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: white;
    min-width: 48.5%;
    margin-bottom: 20px;
}

.programa4 {
    display: flex;
    width: 45%;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: white;
    min-width: 48.5%;
    margin-bottom: 20px;
}

.paveikslelis {
    display: flex;
    justify-content: start;
}

.virsutine-dalis-koks-tipas {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    margin-right: -30px;
}

.desinioji-dalis-programu-pasirinkimas a {
    text-decoration: none;
}

.virsutine-dalis-koks-tipas span {
    background-color: #d64df1;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
}

.tekstas-po-paveikslelio h2 {
    color: black;
}

.tekstas-po-paveikslelio p {
    color: black;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.apatine-dalis-tipas-laikas {
    display: flex;
    justify-content: flex-start;
  
    flex-direction: column;

}

.apatine-dalis-tipas-laikas ul {
    padding: 0;
}

.apatine-dalis-tipas-laikas li {
    display: flex;
    color: black;
    font-weight: 500;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(https://codeacademy.lt/wp-content/themes/codeacademy/dist/images/footer.svg);
    background-color: black;
    color: white;
    padding: 140px 0 135px;
    width: 100%;
}
.icon-of-codeacademy-footer{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 50px;
}

.icon-of-codeacademy a img{
    
    color: white;
    background-color: transparent;
    width: 137px;
    
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    width: 100%;
}
.sarasu-wrapper{
    display: flex;
    justify-content: start;
    
}
.sarasas-pasirinkciu {
    display: flex;
    width: 45%;
    justify-content: flex-start;
}
.sarasas-pasirinkciu ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    flex-direction: column;
    row-gap: 20px;
}
.sarasas-pasirinkciu li{
    display: flex;
    flex-wrap: wrap;
    color: #807373;
}
.sarasas-adresai{
    display: flex;
    width: 35%;
}
.sarasas-adresai ul{
    display: flex;
    
    flex-wrap: wrap;
    font-size: 17px;
    flex-direction: column;
    row-gap: 20px;
}
.sarasas-adresai li{
    display: flex;
    flex-wrap: wrap;
    color: #807373;
}
.sarasas-adresai .miestas{
    color: #c0b7b7;
}
.soc-media img{
    background-color: #807373;
    margin: 5px;
}
.apacia{
    margin-top: 252px;
    display: flex;
}
.apacios-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: space-between;
}
.kairys-tekstas {
    display: flex;
    color: #807373;
    font-size: 17px;
    width: 60%;
}
.kairys-tekstas a{
    color: #c7baba;
    text-decoration: none;

}
.desinys-tekstas{
    width: 50%;
    display: flex;
}
.desinys-tekstas a{
    text-decoration: none;
    color: #807373;
    font-size: 17px;
}
