/* 
CSS SINTAKSE:

selector {
    property: value;
}
*/
h1{
    background-color: rgb(161, 85, 161);
    color: white;
}
div h3{
    color: red;
}
ol li{
    color: green;
}
ul > li {
    color: blue;
}
ol li:first-child {
    color: rgb(61, 28, 28);
}
.color-red{
    color: red;
}
strong.color-red{
    color: blueviolet;
}
#headings-section {
    background-color: rgb(69, 49, 24);
    color: aqua;
    
}
