.container {
    width: 500px;
    height: 500px;
    background-color: blanchedalmond;
    display: grid;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}